.App {
  text-align: center;
  margin: 10rem;
}

.ProfileCard {
  box-sizing: border-box;
  width: 400px;
  padding: 15px;
  border: #ccc 1px solid;
  border-radius: 6px;
}
.ProfileCard-avatar {
  display: flex;
  align-items: center;
}
.ProfileCard-avatar img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}
.ProfileCard-avatar span {
  font-weight: bold;
}
.ProfileCard-stat {
  margin-top: 1rem;
}
.ProfileCard-stat-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  justify-content: space-between;
  color: #000;
}
.ProfileCard-stat-item span:last-child {
  color: #aaa;
}
.ProfileCard-achievement {
  box-sizing: border-box;
  padding: 15px;
  background: #eee;
  margin: 15px 0;
}
